<div class="row">
	<div class="span1">
	
	</div>
	<div class="span9">
		<div id="myCarousel" class="carousel slide" style="width: 720px; height: 300px; margin: 0 auto">
			<!-- Carousel slides -->
			<div class="carousel-inner">
				<div class="active item" style="width: 720px; height: 300px; margin: 0 auto">
					<img src="assets/uva1.jpg">
					<div class="carousel-caption">
						<h4>Head</h4>
						<p>make</p>
					</div>
				</div>
				<div class="item" style="width: 720px; height: 300px; margin: 0 auto">
					<img src="assets/uva2.jpg">
					<div class="carousel-caption">
						<h4>Head</h4>
						<p>second make</p>
					</div>
				</div>
			</div>

			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
</div> <!-- End row -->


<body>

HOME

</body>

<script>
$('#myCarousel').carousel({
interval: 3000
})
</script>